/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

h1, h2, h3, p {
  font-family: Helvetica;
}

p {
  font-size: 16px;
}

.navbar, .navbar-default {
  height: 100px;
}

.navbar-text {
  padding-top: 20px;
}


.header {
  color: #39474e;
  text-align: center;
  background-image: asset_url("durham.jpg");
  background-size: cover;
  // background-size: 100%;
  width: inherit;
  top:0;
  right:0;
  bottom:0;
  left:0;
  padding-top: 150px;
  height: 900px;
  margin-bottom:auto;
}

.list-group {
  margin-top: 10px;
}

.btn-default {
  color: white;
  background-color: #39474e;
}

.call-to-action {
  margin: 20px;
}

.img-small {
  background-color: gray;
  height: 200px;
}

.center {
  text-align: center;
}

.center-content {
  display: block;
  margin: auto;
}

.member {
  padding: 20px;
}
